<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>NewWorldHotelsApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateCustomerServlet</display-name>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <servlet-class>com.revature.controllers.CreateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <url-pattern>/CreateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.revature.controllers.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.revature.controllers.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationServlet</display-name>
    <servlet-name>ReservationServlet</servlet-name>
    <servlet-class>com.revature.controllers.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationServlet</servlet-name>
    <url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.revature.controllers.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeClockServlet</display-name>
    <servlet-name>TimeClockServlet</servlet-name>
    <servlet-class>com.revature.controllers.TimeClockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeClockServlet</servlet-name>
    <url-pattern>/TimeClockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pixservlet</display-name>
    <servlet-name>Pixservlet</servlet-name>
    <servlet-class>com.revature.controllers.Pixservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pixservlet</servlet-name>
    <url-pattern>/Pixservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostMessageServlet</display-name>
    <servlet-name>HostMessageServlet</servlet-name>
    <servlet-class>com.revature.controllers.HostMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostMessageServlet</servlet-name>
    <url-pattern>/HostMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckInServlet</display-name>
    <servlet-name>CheckInServlet</servlet-name>
    <servlet-class>com.revature.controllers.CheckInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInServlet</servlet-name>
    <url-pattern>/CheckInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>com.revature.controllers.StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/StatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordServlet</display-name>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.revature.controllers.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>